<!DOCTYPE html>
<html>
<head>
    <title>Buy {{ name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<h1>{{ name }}</h1>
<p>{{ description }}</p>
<p>{{ price }}</p>
<button id="buy-button">Buy</button>
<script type="text/javascript">
    var stripe = Stripe('pk_test_51HbacoKcBGVGC61exRczEpae0G8uHVWwUZGsB85tbvmfVPodXj3VrjLJROKpBtT42Xw2daFPxC46Esit1q6VcMsH00Edh2x6pc');
    var buyButton = document.getElementById('buy-button');
    buyButton.addEventListener('click', function () {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout
        fetch('/buy/{{ id }}', {method: 'GET'})
            .then(response => response.json()
            ).then(({session_id}) => stripe.redirectToCheckout({sessionId: session_id}))
    });
</script>
</body>
</html>
